<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="youtubedownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <youtubedownloader.Properties.Settings>
            <setting name="lightpanel" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="paneldark" serializeAs="String">
                <value>45, 45, 48</value>
            </setting>
            <setting name="lightform" serializeAs="String">
                <value>ButtonFace</value>
            </setting>
            <setting name="darkform" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="lighttext" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="darktext" serializeAs="String">
                <value>212, 212, 212</value>
            </setting>
            <setting name="checkstatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkstatust" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="panelmoverlight" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="panelmoverdark" serializeAs="String">
                <value>Maroon</value>
            </setting>
        </youtubedownloader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>